<div class="app-container">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" class="app-sidenav">
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="main-content">
        <div class="content-container">
          <app-page-header></app-page-header>
          <div class="main-content-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>